*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

body{
    font-size: 16px;
}

nav{
    background: rgb(0, 102, 255);
}

.barra{
    display: flex;
    justify-content: space-around;
}

.nav-enlace{
    text-decoration: none;
    color: white;
    padding: 1em;
    font-size: 1.5em;
}

.fondo1{
    background: rgb(83, 137, 182);
}

.fondo2{
    background: tan;
}

.exp{
    display: flex;
    justify-content: space-around;
    
    color:snow;
}

.exp .titulo{
    display: flex;
    list-style: none;
}

.text{
    color: rgb(36, 39, 41);
    font-size: 1em;

}


#Experiencias{
    display: flex;
    justify-content: center;
}

.text2{
    display: flex;
    justify-content: space-between;
}